@model IEnumerable<RandomFoodWebApp.Models.Restaurant>

<h1>RandomFoodWebApp</h1>

@using (Html.BeginForm("GetRestaraunt", "Home", FormMethod.Get, new { id = "Config" }))
{
    <div class="form-group"> <!--form-group shouldn't exist yet-->
        <label for="radius">Radius willing to travel: </label>
        <input name="radius" id="radius" type="text" value="5" />
    </div>
    <div class="form-group">
        <input type="submit" value="You pick!"/>
        <!--<button type="submit">Find me somewhere to eat!</button>-->
    </div>
}

<div class="row">
</div>